body {
    font-size: 28px;
}

nav {
    display: flex;
    background-color: #333;
    flex-wrap: wrap;
}

#menuPrincipal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menuSecundario ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menuPrincipal li {
    float: left;
}

#menuSecundario li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

*/ .parallax {
    background-image: url('E:/2º DAW/Diseño de Interfaces Web/Proyecto CSS/DIW-CSS/img/parallax_2.jpg');
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax img {
    max-width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#logoNav img {
    height: 60px;
    width: 60px;
}

#menuPrincipal {
    display: flex;
    justify-content: flex-start;
}

#menuPincipal ul li {
    width: 200px;
    height: 150px;
    color: #FFF;
    text-align: center;
    line-height: 150px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #9B59B6;
}